{
    "presets": [
      "@babel/preset-react",
      "@babel/preset-typescript",
      ["@babel/preset-env", {
        "targets": "> 0.25%, not dead, ie >=11",
        "useBuiltIns": "usage",
        "corejs": "3.10",
        "shippedProposals": true
        }
      ] 
    ]
  }